*, :before, :after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  height: 100%;
  margin: 0;
  overflow: hidden;
}

nav {
  background: #000;
  margin: 0 0 1em;
  padding: 0;
  position: relative;
  width: 100%;
  z-index: 9900;
}

ul.menu {
  display: none;
  float: left;
  margin-left: -0.5rem;
  padding: 0;
  position: absolute;
}

.clearfix:after {
  clear: both;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.close-box.control-box {
  left: 4px;
}

.content .command_button {
  height: 22px;
}

.content .inner {
  height: 97%;
  margin: 2px 4px 4px;
  padding: 1em;
}

.content ul {
  margin: 2px 0 1.5rem;
  padding: 0 0 0 2rem;
}

.content {
  position: absolute;
  width: 50%;
  overflow: hidden;
}

.control-box {
  padding: 1px;
  position: absolute;
  top: 3px;
  z-index: 100;
}

.control-box-inner {
  display: block;
  height: 1rem;
  width: 1rem;
}

.footer {
  margin: 2rem auto 0;
}

.hidden {
  display: none !important;
}

.icon img {
  display: block;
  height: 48px;
  margin: auto;
  width: 48px;
}

.icon {
  display: block;
  position: relative;
}

.icon:not(:first-child, :last-child) {
  margin-left: 10em;
}

.title ::after {
  float: right;
  position: absolute;
  right: 0;
  top: 0;
  width: 3.5rem;
}

.title.noright ::after {
  width: .5rem;
}

.title.halfright ::after {
  width: 1.75rem;
}

.title ::before {
  float: left;
  margin: 0;
  width: 2rem;
}

.title ::before, .title ::after {
  content: "\00a0";
  display: block;
}

.title span {
  padding: 0 1rem;
  margin-left: -2rem;
}

.title {
  margin: 0;
}

.visuallyhidden {
  border: 0;
  clip: rect(0000);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.windowshade-box-inner {
  height: 3px;
  margin-top: 3px;
}

.windowshade-box.control-box {
  right: 4px;
}

.zoom-box-inner {
  height: 6px;
  width: 7px;
}

.zoom-box.control-box {
  right: 20px;
}

#icon-holder .icon {
  clear: both;
  float: right;
  margin: 1rem 0;
  position: relative;
  text-align: center;
  top: 1em;
  width: 10em;
}

#icon-holder {
  display: block;
  float: right;
}

#macoslogo img {
  height: 1.25rem;
  width: 1.25rem;
}

#nav-list #time, #nav-list #macoslogo {
  float: right;
}

#nav-list li {
  float: left;
  height: 1.75rem;
  line-height: 1.5rem;
  padding: 0.25rem 0.5rem 0;
}

#nav-list li:hover ul.menu li img {
  margin-left: -1.25em;
  margin-right: 0.25em;
}

#nav-list li:hover ul.menu li {
  clear: both;
  padding: 0.25em 1em 1.5em 2em;
  width: 100%;
}

#nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}

#nav-wrapper {
  background-color: #ddd;
  border-radius: 1em 1em 0 0;
  box-shadow: inset 1px 1px 0 0 #888, inset -1px -1px 0 0 #fff;
  display: inline-block;
  height: 100%;
  padding: 0 1rem;
  width: 100%;
}

::-moz-focus-inner {
  border: 0;
}

:focus {
  outline: none;
}

:root {
  --button-box-shadow: inset -1px -1px 0 0 #777, inset -2px -2px 0 0 #aaa, inset 1px 1px 0 0 #ddd, inset 2px 2px 0 0 #fff;
  --button-hover-bezel: 0 0 0 1px #aaa, 0 0 0 2px #ddd, 0 0 0 3px #000;
}

::-webkit-scrollbar {
  width: 16px;
  margin-bottom: 3em;
}

::-webkit-resizer {
  margin: 3em;
}

::-webkit-scrollbar-button:start {
  display: block;
  width: 16px;
  height: 16px;
  top: 16px;
  background-color: #dedede;
  box-shadow: inset 1px 1px 0 #fff, inset -1px -1px 0 #bcbcbc
}

::-webkit-scrollbar-button:start:vertical {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000
}

::-webkit-scrollbar-button:start:vertical:decrement {
  background: linear-gradient(transparent 75%, #000 0) 50%/8px 4px no-repeat, linear-gradient(transparent 50%, #000 0) 50%/6px 4px no-repeat, linear-gradient(transparent 25%, #000 0) 50%/4px 4px no-repeat, linear-gradient(#000 50%, #000 0) 50%/2px 4px no-repeat, #dedede
}

::-webkit-scrollbar-button:start:vertical:increment {
  background: linear-gradient(0deg, transparent 75%, #000 0) 50%/8px 4px no-repeat, linear-gradient(0deg, transparent 50%, #000 0) 50%/6px 4px no-repeat, linear-gradient(0deg, transparent 25%, #000 0) 50%/4px 4px no-repeat, linear-gradient(0deg, #000 50%, #000 0) 50%/2px 4px no-repeat, #dedede;
  height: 15px;
  border-bottom: none
}

::-webkit-scrollbar-button:start:horizontal {
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000
}

::-webkit-scrollbar-button:start:horizontal:decrement {
  background: linear-gradient(90deg, transparent 75%, #000 0) 50%/4px 8px no-repeat, linear-gradient(90deg, transparent 50%, #000 0) 50%/4px 6px no-repeat, linear-gradient(90deg, transparent 25%, #000 0) 50%/4px 4px no-repeat, linear-gradient(90deg, #000 50%, #000 0) 50%/4px 2px no-repeat, #dedede
}

::-webkit-scrollbar-button:start:horizontal:increment {
  background: linear-gradient(270deg, transparent 75%, #000 0) 50%/4px 8px no-repeat, linear-gradient(270deg, transparent 50%, #000 0) 50%/4px 6px no-repeat, linear-gradient(270deg, transparent 25%, #000 0) 50%/4px 4px no-repeat, linear-gradient(270deg, #000 50%, #000 0) 50%/4px 2px no-repeat, #dedede;
  width: 15px;
  border-right: none
}

::-webkit-scrollbar-track {
  background-color: #aaaaab;
  border: 1px solid #000
}

::-webkit-scrollbar-track:vertical {
  box-shadow: inset 1px 1px 0 #787877, inset -1px 2px 0 #cdcccd, inset 2px 0 0 #888889, inset -2px 0 0 #bcbcbc
}

::-webkit-scrollbar-track:horizontal {
  box-shadow: inset 1px 1px 0 #787877, inset 2px -1px 0 #cdcccd, inset 0 2px 0 #888889, inset 0 -2px 0 #bcbcbc
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 1px 1px 0 #cdcdfc, inset -1px -1px 0 #6867c6;
  width: 14px;
  border: 1px solid #000
}

::-webkit-scrollbar-thumb:vertical {
  background: linear-gradient(transparent 12.5%, #353594 0, #353594 25%, transparent 0, transparent 37.5%, #353594 0, #353594 50%, transparent 0, transparent 62.5%, #353594 0, #353594 75%, transparent 0, transparent 87.5%, #353594 0) 50%/7px 8px no-repeat, linear-gradient(#cdcdfc 12.5%, transparent 0, transparent 25%, #cdcdfc 0, #cdcdfc 37.5%, transparent 0, transparent 50%, #cdcdfc 0, #cdcdfc 62.5%, transparent 0, transparent 75%, #cdcdfc 0, #cdcdfc 87.5%, transparent 0) 49%/7px 8px no-repeat, #9b9bf9
}

::-webkit-scrollbar-thumb:horizontal {
  background: linear-gradient(90deg, transparent 12.5%, #353594 0, #353594 25%, transparent 0, transparent 37.5%, #353594 0, #353594 50%, transparent 0, transparent 62.5%, #353594 0, #353594 75%, transparent 0, transparent 87.5%, #353594 0) 50%/8px 7px no-repeat, linear-gradient(90deg, #cdcdfc 12.5%, transparent 0, transparent 25%, #cdcdfc 0, #cdcdfc 37.5%, transparent 0, transparent 50%, #cdcdfc 0, #cdcdfc 62.5%, transparent 0, transparent 75%, #cdcdfc 0, #cdcdfc 87.5%, transparent 0) center 49%/8px 7px no-repeat, #9b9bf9
}

::-webkit-scrollbar-corner {
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  box-shadow: inset 1px 1px 0 #fff;
  background: #cdcccd
}

a {
  color: #000;
}

button {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100 !important;
}

html, body {
  background-image: url("../img/patterns/French%20Blue%20Dark.png");
  background-repeat: repeat;
  font-family: "Charcoal", "ChicagoFLF", "Times New Roman", "Georgia", serif;
  font-size: 0.75em;
  font-weight: 100 !important;
}

ul.menu {
  background-color: #ddd;
  color: #000;
  font-size: 1.25rem;
  list-style-type: none;
}

.content .command_button {
  background-color: #dedede;
  border: 1px solid #000;
  border-radius: 3px;
  box-shadow: var(--button-box-shadow);
}

.content .command_button:active {
  background-color: #666;
  box-shadow: var(--button-hover-bezel), inset -1px -1px 0 0 #888, inset -2px -2px 0 0 #777, inset 1px 1px 0 0 #444, inset 2px 2px 0 0 #555;
  color: #fff;
}

.content .command_button:hover {
  box-shadow: var(--button-box-shadow), var(--button-hover-bezel);
}

.content .inner {
  background-color: #ddd;
  border: 1px solid #111;
  box-shadow: -1px -1px 0 0 #999, 1px 1px 0 0 #fff, inset 1px 1px 0 0 #fff, inset -1px -1px 0 0 #999;
}

.content ul {
  font-size: 1rem;
  list-style-type: none;
}

.content {
  background: #ccc;
  border: 1px solid #111;
  box-shadow: 1px 2px #111, inset 1px 1px 0 0 #fff, inset -1px -1px 0 0 #999;
  font-size: 1rem;
  font-weight: 400;
}

.control-box {
  /*background-color: #222;*/
  box-shadow: inset -1px -1px 0 0 #fff, inset 1px 1px 0 0 #888;
}

.control-box-inner {
  background: linear-gradient( tobottomright, #999, #aaa, #bbb, #ccc, #ddd, #eee, #fff);
  border: 1px solid #222;
  box-shadow: inset 1px 1px 0 0 #ccc, inset -1px -1px 0 0 #888;
  text-indent: -99999rem;
}

.control-box-inner:active {
  box-shadow: none;
}

.footer {
  font-size: 0.75rem;
  text-align: center;
}

.title ::before, .title ::after {
  background-color: #ccc;
}

.title span {
  background-color: #ccc;
  background-image: none;
}

.title {
  background-image: url("../img/title-stripe-center.jpg");
  background-position: 10% 60%;
  background-repeat: repeat-x;
  border: solid 1px #ccc;
  font-size: 1.1rem;
  text-align: center;
}

.title-full {
  background-position: 10% 10% !important;
}

.title-full span {
  padding: 0 1.5rem;
}

.title-full ::before, .title-full ::after {
  content: "";
  display: block;
}

.windowshade-box-inner {
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
}

.zoom-box-inner {
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
}

#apple-logo::before {
  content: "\F8FF";
  font-size: 1.5rem;
  line-height: 1.5rem;
}

#nav-list #time:hover {
  background-color: inherit;
  color: inherit;
}

#nav-wrapper ul li:hover {
  background-color: #339;
  color: #fff;
}

#nav-wrapper ul li.disabled:hover {
  background-color: #777;
  color: #fff;
}



#nav-wrapper ul {
  font-size: 1.25rem;
}

.text-italic {
  font-style: italic;
}

.modal {
  background: #ccc !important;
  border-radius: 0 !important;
}

#about {
  margin: 0 auto;
  left: 25%;
  top: 20%;
  width: 40vw%;
}