@import "charcoal.css";
@import "checkbox.css";
@import "chicago.css";
@import "scrollbar.css";
@import "navigation.css";

*,
:before,
:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.close-box.control-box {
    left: 4px;
}

.inner .command_button {
    height: 22px;
}


.right-button {
  float: right;
}
.content .inner {
    margin: 2px 4px 4px;
    padding: 1em;
}

.content ul {
    margin: 2px 0 1.5rem;
    padding: 0 0 0 2rem;
}

.content {
    position: absolute;
}

.control-box {
    padding: 1px;
    position: absolute;
    top: 3px;
    z-index: 100;
}

.control-box-inner {
    display: block;
    height: 1rem;
    width: 1rem;
}

.hidden {
    display: none !important;
}

.hidden-window {
    height: 23px !important;
    overflow: hidden !important;
    min-width: 0px;
    min-height: 0px;
}

.icon img {
    display: block;
    height: 48px;
    margin: auto;
    width: 48px;
}

.icon {
    display: block;
    position: relative;
}

.icon:not(:first-child, :last-child) {
    margin-left: 10em;
}

.titlebar ::after {
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    width: 3.5rem;
}

.titlebar.noleft ::before {
  width: 0.5rem;
}

.titlebar.noright ::after {
    width: 0.5rem;
}

.titlebar.halfright ::after {
    width: 1.75rem;
}

.titlebar ::before {
    float: left;
    margin: 0;
    width: 2rem;
}

.titlebar ::before,
.titlebar ::after {
    content: "\00a0";
    display: block;
}

.titlebar span {
    padding: 0 1rem;
    margin-left: -2rem;
}

.titlebar {
    margin: 0;
}

.visuallyhidden {
    border: 0;
    clip: rect(0000);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.window-collapse-inner {
    height: 3px;
    margin-top: 3px;
}

.window-collapse.control-box {
    right: 4px;
}

.zoom-box-inner {
    height: 6px;
    width: 7px;
}

.zoom-box.control-box {
    right: 20px;
}

#icon-holder .icon {
    clear: both;
    float: right;
    margin: 1rem 0;
    position: relative;
    text-align: center;
    top: 1em;
    width: 10em;
}

#icon-holder {
    display: block;
    float: right;
}

::-moz-focus-inner {
    border: 0;
}

:focus {
    outline: none;
}

:root {
    --button-box-shadow: inset -1px -1px 0 0 #777, inset -2px -2px 0 0 #aaa,
        inset 1px 1px 0 0 #ddd, inset 2px 2px 0 0 #fff;
    --button-hover-bezel: 0 0 0 1px #aaa, 0 0 0 2px #ddd, 0 0 0 3px #000;
}


::-webkit-resizer {
    margin: 3em;
}


a {
    color: #000;
}

button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100 !important;
}

html,
body {
    background-image: url("../img/patterns/French%20Blue%20Dark.png");
    background-repeat: repeat;
    font-family: "Charcoal", "Chicago", "Times New Roman", "Georgia", serif;
    font-size: 0.75em;
    font-weight: 100 !important;
}


.content button {
    background-color: #dedede;
    border: 1px solid #000;
    border-radius: 3px;
    box-shadow: var(--button-box-shadow);
}

.content button:active {
    background-color: #666;
    box-shadow: var(--button-hover-bezel), inset -1px -1px 0 0 #888,
        inset -2px -2px 0 0 #777, inset 1px 1px 0 0 #444, inset 2px 2px 0 0 #555;
    color: #fff;
}

.content button:hover {
    box-shadow: var(--button-box-shadow), var(--button-hover-bezel);
}

.content .inner {
    background-color: #ddd;
    border: 1px solid #111;
    box-shadow: -1px -1px 0 0 #999, 1px 1px 0 0 #fff, inset 1px 1px 0 0 #fff,
        inset -1px -1px 0 0 #999;
}

.content ul {
    font-size: 1rem;
    list-style-type: none;
}

.content {
    background: #ccc;
    border: 1px solid #111;
    box-shadow: 1px 2px #111, inset 1px 1px 0 0 #fff, inset -1px -1px 0 0 #999;
    font-size: 1rem;
    font-weight: 400;
}

.control-box {
    /*background-color: #222;*/
    box-shadow: inset -1px -1px 0 0 #fff, inset 1px 1px 0 0 #888;
}

.control-box-inner {
    background: linear-gradient(
        tobottomright,
        #999,
        #aaa,
        #bbb,
        #ccc,
        #ddd,
        #eee,
        #fff
    );
    border: 1px solid #222;
    box-shadow: inset 1px 1px 0 0 #ccc, inset -1px -1px 0 0 #888;
    text-indent: -99999rem;
}

.control-box-inner:active {
    box-shadow: none;
}

.titlebar ::before,
.titlebar ::after {
    background-color: #ccc;
}

.titlebar span {
    background-color: #ccc;
    background-image: none;
}

.titlebar {
    background-image: url("../img/title-stripe-center.jpg");
    background-position: 10% 60%;
    background-repeat: repeat-x;
    border: solid 1px #ccc;
    font-size: 1.1rem;
    text-align: center;
}

.window-collapse-inner {
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
}

.zoom-box-inner {
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
}

#apple-logo img {
    margin-top: -2px;
}

.text-italic {
    font-style: italic;
}

.ui-draggable-dragging {
    transform: scale(1);
    border: 2px black dotted !important;
    background-color: rgba(25, 25, 25, 0) !important;
}

.ui-draggable-dragging * {
    opacity: 0;
}

.ui-draggable-dragging.content,
.ui-resizable-resizing.content {
    box-shadow: none !important;
}

.ui-resizable-handle {
    background: url("../img/corner.png");
}

.ui-resizable-handle {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 21px;
    height: 21px;
}

div.content .inner {
    overflow-x: hidden;
    overflow-y: scroll;
}

div.content.noscroll .inner {
    overflow: hidden;
}

.text-center {
    text-align: center;
}

.modal {
    height: 100%;
    width: 100%;
    background: #000;
    z-index: 99999999;
    position: absolute;
    border-radius: 0 !important;
}

#boot-button {
    left: 50%;
    position: relative;
    top: 50%;
    height: 100px;
}

#controls {
    width: 25%;
}

#controls input {
    width: 2em;
}

#controls {
    left: 70%;
}

.content,
.content .inner {
    max-height: 100%;
    max-width: 100%;
    min-height: 80px;
    min-width: 100px;
}
#about .inner {
    left: 20px;
    top: 30px;
}
#about .inner {
    width: 700px;
    height: 500px;
}

.alert {
  z-index: 99999998 !important;
  border: 2px #dc5341 outset;
  margin: 10% auto;
  position: relative;
  width: 30% !important;
}

.alert .inner {
  padding-left: 100px;
  border: none;
  box-shadow: none;
  text-align: left;
  background-repeat: no-repeat;
  background-position: 20px 10px;
  background-image: url(../img/alert_notice.png);
}

.alert .inner p {
  margin: 0;
}

.alert-stop .inner {
  background-image: url(../img/alert_stop.png);
}

#sadmac {
    text-align: center;
    padding: 15%;
    z-index: 99999 !important;
    width: 100%;
    height: 100%;
    display: block;
    margin: 0;
}