::-webkit-scrollbar {
    width: 16px;
    margin-bottom: 3em;
}
::-webkit-scrollbar-button:start {
    display: block;
    width: 16px;
    height: 16px;
    top: 16px;
    background-color: #dedede;
    box-shadow: inset 1px 1px 0 #fff, inset -1px -1px 0 #bcbcbc;
}

::-webkit-scrollbar-button:start:vertical {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
}

::-webkit-scrollbar-button:start:vertical:decrement {
    background: linear-gradient(transparent 75%, #000 0) 50%/8px 4px no-repeat,
        linear-gradient(transparent 50%, #000 0) 50%/6px 4px no-repeat,
        linear-gradient(transparent 25%, #000 0) 50%/4px 4px no-repeat,
        linear-gradient(#000 50%, #000 0) 50%/2px 4px no-repeat, #dedede;
}

::-webkit-scrollbar-button:start:vertical:increment {
    background: linear-gradient(0deg, transparent 75%, #000 0) 50%/8px 4px
            no-repeat,
        linear-gradient(0deg, transparent 50%, #000 0) 50%/6px 4px no-repeat,
        linear-gradient(0deg, transparent 25%, #000 0) 50%/4px 4px no-repeat,
        linear-gradient(0deg, #000 50%, #000 0) 50%/2px 4px no-repeat, #dedede;
    height: 15px;
    border-bottom: none;
}

::-webkit-scrollbar-button:start:horizontal {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
}

::-webkit-scrollbar-button:start:horizontal:decrement {
    background: linear-gradient(90deg, transparent 75%, #000 0) 50%/4px 8px
            no-repeat,
        linear-gradient(90deg, transparent 50%, #000 0) 50%/4px 6px no-repeat,
        linear-gradient(90deg, transparent 25%, #000 0) 50%/4px 4px no-repeat,
        linear-gradient(90deg, #000 50%, #000 0) 50%/4px 2px no-repeat, #dedede;
}

::-webkit-scrollbar-button:start:horizontal:increment {
    background: linear-gradient(270deg, transparent 75%, #000 0) 50%/4px 8px
            no-repeat,
        linear-gradient(270deg, transparent 50%, #000 0) 50%/4px 6px no-repeat,
        linear-gradient(270deg, transparent 25%, #000 0) 50%/4px 4px no-repeat,
        linear-gradient(270deg, #000 50%, #000 0) 50%/4px 2px no-repeat, #dedede;
    width: 15px;
    border-right: none;
}

::-webkit-scrollbar-track {
    background-color: #aaaaab;
    border: 1px solid #000;
}

::-webkit-scrollbar-track:vertical {
    box-shadow: inset 1px 1px 0 #787877, inset -1px 2px 0 #cdcccd,
        inset 2px 0 0 #888889, inset -2px 0 0 #bcbcbc;
}

::-webkit-scrollbar-track:horizontal {
    box-shadow: inset 1px 1px 0 #787877, inset 2px -1px 0 #cdcccd,
        inset 0 2px 0 #888889, inset 0 -2px 0 #bcbcbc;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 1px 1px 0 #cdcdfc, inset -1px -1px 0 #6867c6;
    width: 14px;
    border: 1px solid #000;
}

::-webkit-scrollbar-thumb:vertical {
    background: linear-gradient(
                transparent 12.5%,
                #353594 0,
                #353594 25%,
                transparent 0,
                transparent 37.5%,
                #353594 0,
                #353594 50%,
                transparent 0,
                transparent 62.5%,
                #353594 0,
                #353594 75%,
                transparent 0,
                transparent 87.5%,
                #353594 0
            )
            50%/7px 8px no-repeat,
        linear-gradient(
                #cdcdfc 12.5%,
                transparent 0,
                transparent 25%,
                #cdcdfc 0,
                #cdcdfc 37.5%,
                transparent 0,
                transparent 50%,
                #cdcdfc 0,
                #cdcdfc 62.5%,
                transparent 0,
                transparent 75%,
                #cdcdfc 0,
                #cdcdfc 87.5%,
                transparent 0
            )
            49%/7px 8px no-repeat,
        #9b9bf9;
}

::-webkit-scrollbar-thumb:horizontal {
    background: linear-gradient(
                90deg,
                transparent 12.5%,
                #353594 0,
                #353594 25%,
                transparent 0,
                transparent 37.5%,
                #353594 0,
                #353594 50%,
                transparent 0,
                transparent 62.5%,
                #353594 0,
                #353594 75%,
                transparent 0,
                transparent 87.5%,
                #353594 0
            )
            50%/8px 7px no-repeat,
        linear-gradient(
                90deg,
                #cdcdfc 12.5%,
                transparent 0,
                transparent 25%,
                #cdcdfc 0,
                #cdcdfc 37.5%,
                transparent 0,
                transparent 50%,
                #cdcdfc 0,
                #cdcdfc 62.5%,
                transparent 0,
                transparent 75%,
                #cdcdfc 0,
                #cdcdfc 87.5%,
                transparent 0
            )
            center 49%/8px 7px no-repeat,
        #9b9bf9;
}

::-webkit-scrollbar-corner {
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    box-shadow: inset 1px 1px 0 #fff;
    background: #cdcccd;
}

::-webkit-scrollbar {
    margin-bottom: 100px;
}

